*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    background-color: white;
}

.heading_box{
    max-width: 1440px;
    height: 30rem;
    background-image: url(./images/bg-hero-desktop.svg);
    /* background-color: hsl(192, 45%, 44%); */
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    
}

.img_logo{
    width: 19%;
}
button{
    background-color: transparent;
    border: 1px solid hsl(322, 100%, 66%);
    width:150px;
    height: 36px;
    color: hsl(322, 100%, 66%);
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px hsl(321, 63%, 75%);
}

button:hover{
    color:  hsl(321, 100%, 78%);
    opacity: 0.8;
}

.heading_top_row_display{
    display: flex;
    gap: 25em;
}

.container{
    max-width: 1440px;
     margin: auto;
    overflow: hidden;
    /* padding: 0 100px; */
    padding: 0 40px;
}

.heading_textbox{
    width: 45rem;
    height: 12rem;
    /* background-color: red; */
    /* padding-top: 8%; */
    text-align: center;
     margin: auto;
     margin-top: 9%;
    

}

.p_huddle_reimagines{
    font-size: small;
    padding-top: 12px;
    text-align: center;
    color: hsl(192, 100%, 9%);

    
}

.button2{
    background-color: hsl(322, 100%, 66%);
    border: none;
    width:12rem;
    height: 36px;
    color: white;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
    border-color:hsl(322, 100%, 66%) ;
    cursor: pointer;
    box-shadow: 2px 2px 2px hsl(321, 63%, 75%);
    margin-top: 5%;
}

.button2:hover{
    background-color:  hsl(321, 100%, 78%);
    color: white;
    
}

.img_mockup{
    margin-top: 4%;
    width: 100%;
}

.logo_figures{
    width: 30%;
    padding-top: 40px;
}

.figures{
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

.p_below_figures{
    font-size: small;
    color: hsl(192, 100%, 9%);

}

.figure_display_row{
    display: flex;
    gap: 15rem;
}
